/* :root {
  --dark-color: #111;
  --light-color: #f3f3f3;
  --medium-color: #bbb;
  --border-color: #ddd;
  --main-color: #0074D9;
  --error-color: #FF4136;
  --border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-color);
  font-family: sans-serif;
  color: var(--dark-color);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

.form {
  padding: 20px;
  background: #fff;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  margin: auto 20px;
}

.form h2 {
  padding: 10px 0 30px;
  text-align: center;
}

.form .form-fields {
  margin: 0 0 20px;
}

.form label {
  display: block;
  font-size: 10pt;
  color: #999;
}

::placeholder {
  color: #ddd;
  font-size: 10pt;
}

.form input[type] {
  width: 100%;
  border: 1px solid var(--border-color);
  font-size: 18px;
  padding: 5px 10px;
  border-radius: var(--border-radius);
  transition: border 300ms ease-in-out;
}

.form input[type]:focus {
  border-color: var(--medium-color);
}

.form button {
  border: none;
  background: var(--main-color);
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 700;
  color: var(--light-color);
  border-radius: var(--border-radius);
  transition: filter 300ms ease-in-out;
}

.form button:hover {
  filter: brightness(80%);
}

.form .error-message {
  font-size: 9pt;
  padding: 5px 0;
  color: var(--error-color);
  font-style: italic;
  display: none;
}

.form .show-error-message .error-message {
  display: block;
}

.form .show-error-message input[type] {
  border-color: var(--error-color);
}
 */

html {
  height: 100%;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87)
}

body {
  background: #3f5efb;
  background: radial-gradient(circle, #3f5efb 0%, #aa46fc 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-top: 0;
  font-weight: 400
}

h2 {
  text-align: center;
  font-size: 2em;
  color: #9f48fc;
  font-weight: 400
}

main {
  max-width: 38.5625em;
  width: 90%;
  background: white;
  padding: 2em;
  box-sizing: border-box;
  box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.63)
}

input[type="number"],
input[type="text"] {
  background-color: #f8f8f8;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0 1em;
  box-shadow: none;
  box-sizing: border-box;
  -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s
}

input[type="number"]:focus,
input[type="text"]:focus {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a
}

label {
  color: #26a69a;
  font-size: 1rem
}

.input-field {
  margin-top: 1em;
  margin-bottom: 1em
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px
}

.row .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px
}

.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto
}

@media only screen and (min-width: 32em) {
  .row .col.m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto
  }
}